.header {
  background-color: #fff;

  &.desktop {
    padding: 13px 60px;
  }

  &.mobile {
    padding: 13px 15px;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
