.promo {
  min-height: 650px;
  // background-image: url('./../../../assets/pexels-alexandr-podvalny-1227513.jpeg');
  background-image: url('./../../../assets/Rectangle\ 29.png');
  // background-size: co;
  // background-position: center 70%;
  // background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 380px;
  text-align: center;
  color: #fff;
}

.text {
  margin-bottom: 32px;
}
